
body {
  font-family: hindlight,Helvetica,Arial,Sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: hindbold,Helvetica,Arial,Sans-serif;
  font-weight: bold;
}

header {
  background-color: #0066DC;
  color: #fff;
}

header h1 {
  padding: 2px 8px;
  margin: 0;
}

main {
  margin: 8px;
}