body {
  font-family: Retina,Arial,Sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Retina,Arial,Sans-serif;
  font-weight: bold;
}

header {
  background-color: #00AAFF;
  background : linear-gradient(45deg, #00AAFF, #00D2F3);
  color: #fff;
}

header h1 {
  padding: 2px 8px;
  margin: 0;
}

main {
  margin: 8px;
}